.b-about__clojure {
    background-image: url(/images/clojure.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1075px 594px;
    height: 594px;
    margin: 50px 0;
    width: 100%;
    cursor: pointer;
}
