.b-bvsn__hero {
    background-image: url(/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: 2560px 1066px;
    height: 1066px;
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 0;
}
