.b-bvsn__logo {
    animation: rainbow 4s infinite;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;

    &:hover,&:focus {
        color: #8FCC63;
        text-decoration: none;
    }
}
