.b-bvsn__hero {
    background-image: url(/images/hero.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1536px 960px;
    height: calc(100vh - 45px);
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 0;
}
