.b-bvsn__hero {
    background-image: url(/images/hero.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1280px 800px;
    height: 800px;
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 0;
}
