.b-bvsn__clj {
    background-image: url(/images/clj.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px 700px;
    height: 700px;
    margin: 0;
    width: 100%;
}
